@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This site was created to make it easier for travelers to plan trips and use their creativity to do so. Sometimes it may be hard to plan a trip and have events added or changed for that trip.
    Using a calendar just doesn't cut it sometimes. My mission is to make this simple and easy.
</p>