
@{
    ViewBag.Title = "Event";
}

<div class="jumbotron">
    <h2>My Events</h2>
    <p class="lead">Your Existing Events!</p>
    <p></p>


</div>
<div class="jumbotron">
    <h2>New Event</h2>

    <div>
        <label>Name</label>
        <asp:TextBox ID="name" runat="server" />
    </div>
    <div>
        <label>Destination</label>
        <asp:TextBox ID="destination" runat="server" />
    </div>
    <div>
        <label>Date Range</label>
        <asp:TextBox ID="startDate" runat="server" />
    </div>
    <div>
        <label>Date Range</label>
        <asp:TextBox ID="endDate" runat="server" />
    </div>
</div>
