@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Travel Lust</h1>
    <p class="lead">Travel Lust is a trip planning app for all those travelers that want an easier way to keep track of their travels.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting Started</h2>
        <p>
            Create a trip and name it, add date and time the trip starts and add date and time the trip ends
        </p>
    </div>
    <div class="col-md-6">
        <h2>Trip Idea Board</h2>
        <p>You can easily add images for any trip idea you have so you can figure out where you want to go </p>
    </div>
</div>
