
@{
    ViewBag.Title = "Trip";
}


    <div class="jumbotron">
        <h2>My Trips</h2>
        <p class="lead">Your Existing Trips!</p>
        <p></p>


    </div>
    <div class="jumbotron">
        <h2>New Trip</h2>
        <p class="lead">Creating Your New Trip!</p>
        <p></p>

        <form>
            <div class="row">
                <div class="col-md-3">
                    <label>Name</label>
                    <input type="text" class="form-control" id="" placeholder="South American Dream Trip">
                </div>
                <div class="col-md-3">
                    <label>Destination</label>
                    <input type="text" class="form-control" id="" placeholder="Colombia, Costa Rica, Peru">
                </div>
                <div class="col-md-3">
                    <label>Start Date and Time</label>
                    <input type="text" class="form-control" id="" placeholder="01/01/2001 8:15PM">
                </div>
                <div class="col-md-3">
                    <label>End Date and Time</label>
                    <input type="text" class="form-control" id="" placeholder="01/01/2001 8:15PM">
                </div>
            </div>
        </form>
    </div>
